@import "tailwindcss";
@plugin "daisyui";
body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('pexels-eberhardgross-2098428.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* dark mode looking scrollbar*/
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;  
}
::-webkit-scrollbar-track{
    background: #555;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #242424;
}


